.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    border-radius: 5rem;
  }
}
